header {
  display: none;
}
@media only screen and (min-width: 361px) and (max-width: 1280px) {
  header {
    display: block;
    background-color: darkslategray;
  }
  header .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .name {
    align-items: flex-start;
    font-weight: bold;
  }
  header .links {
    display: flex;
    align-items: flex-end;
  }
}

.grid {
  display: grid;
}
