p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

@media only screen and (max-width: 360px) {
  header {
    display: none;
  }
}
@media only screen and (min-width: 361px) and (max-width: 1280px) {
  header {
    display: block;
    background-color: white;
    width: 100%;
  }
  header nav.navbar {
    background-color: white;
    width: 100%;
    padding: 10px 50px;
  }
  header div.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  header h3.navbar__name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    color: black;
  }
  header div.navbar__right {
    display: flex;
    align-items: center;
  }
  header ul.navbar__menu {
    display: flex;
    list-style: none;
  }
  header a.navbar__link {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    color: black;
  }
  header button.navbar__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    text-align: center;
  }
}

section#intro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 50px;
  margin-bottom: 50px;
}
section#intro h5.intro__name {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
section#intro h1.intro__about {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
section#intro img.intro__img {
  max-width: 50%;
  max-height: 50%;
  padding-left: 50px;
}
@media only screen and (max-width: 360px) {
  section#intro div.intro__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10px;
  }
  section#intro img.intro__img {
    display: none;
  }
}
@media only screen and (min-width: 361px) and (max-width: 1280px) {
  section#intro {
    display: flex;
    flex-direction: row;
  }
  section#intro div.intro__container {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

section#about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 50px;
  margin-bottom: 50px;
}
section#about div.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
}
section#about h2.about__head {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
section#about img.about__img {
  width: 70%;
  height: 70%;
  padding-left: 30px;
}
@media only screen and (max-width: 360px) {
  section#about div.about__container {
    flex-direction: column;
  }
  section#about h2.about__head {
    text-align: center;
  }
}
@media only screen and (min-width: 361px) and (max-width: 1280px) {
  section#about h2.about__head {
    text-align: left;
  }
}

section#technical {
  display: block;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 50px;
  margin-bottom: 50px;
}
section#technical h2.technical__head {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
section#technical p.technical__para {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
section#technical h4.technology__head {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
section#technical div.technology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#technical div.technical__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
@media only screen and (max-width: 360px) {
  section#technical div.technical__container div.technologies__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  section#technical div.technical__container div.technology {
    width: 33.3%;
  }
  section#technical div.technical__container h4.technology__head {
    text-align: center;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 1280px) {
  section#technical div.technical__container p.technical__para {
    max-width: 500px;
    text-align: center;
  }
  section#technical div.technical__container div.technologies__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

section#projects h2.projects__head {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
section#projects h4.project__technology {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
section#projects h1.project__head {
  font-family: Arial, Helvetica, sans-serif;
}
section#projects div.project {
  padding: 30px;
}
section#projects div.project__btn__container {
  display: flex;
  flex-direction: row;
}
section#projects button.project__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 360px) {
  section#projects div.projects__container {
    max-width: 360px;
  }
  section#projects div.projects__grid {
    max-width: 360px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 1280px) {
  section#projects div.projects__grid {
    max-width: 1280px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

footer nav.navbar {
  background-color: black;
  width: 100%;
  padding: 10px 50px;
}
footer div.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
footer h5.navbar__head {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 360px) {
  footer {
    width: 360px;
  }
  footer div.navbar__container {
    flex-direction: column-reverse;
    padding-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
