@use "./media_queries.scss";

header {
  display: none;

  @include media_queries.desktop {
    display: block;
    background-color: darkslategray;

    .header-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .name {
      align-items: flex-start;
      font-weight: bold;
    }

    .links {
      display: flex;
      align-items: flex-end;
    }
  }
}

.grid {
  display: grid;
}
