button {
  background-color: salmon;
}
@media only screen and (max-width: 576px) {
  button {
    width: 100px;
    background-color: red;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  button {
    width: 250px;
    background-color: yellow;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  button {
    width: 400px;
    background-color: blue;
  }
}
@media only screen and (min-width: 1025px) {
  button {
    width: 500px;
    background-color: green;
  }
}

.gallery {
  display: grid;
}
@media only screen and (max-width: 576px) {
  .gallery {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .gallery img {
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
  .gallery img {
    width: 90%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
  .gallery img {
    width: 80%;
  }
}
